main {
    margin: 0 auto 0 auto;
    text-align: center;
}


.tagged-image {
    margin: 0 auto 10px auto;
}

.tagged-image input {
    outline: none;
    border: none;
    width: 10rem;
    text-align: center;
}

.popular-tag {
    border: 1px grey solid;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    padding: 3px;
    line-height: 2rem;
}

.unused-tag {
    margin: 5px 3px 5px 3px;
    color: white;
    border: 1px grey solid;
    background-color: lightgray;
    border-radius: 10px;
    padding: 2px;
    line-height: 2rem;
}
