main {
    margin: 0 auto 0 auto;
    text-align: center;
}


.tagged-image {
    margin: 0 auto 10px auto;
}

.tagged-image input {
    outline: none;
    border: none;
    width: 10rem;
    text-align: center;
}
